<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobMatch">
        <activity
            android:name=".TelaSuporte"
            android:exported="false" />
        <activity
            android:name=".TelaNegocioAutonomo"
            android:exported="false" />
        <activity
            android:name=".telaEntrada"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Todas as outras telas não são de entrada -->
        <activity
            android:name=".TelaLogin"
            android:exported="false"></activity>
        <activity
            android:name=".TelaPerfilAutonomo"
            android:exported="false"></activity>
        <activity
            android:name=".TelaAvaliacao"
            android:exported="false" />
        <activity
            android:name=".TelaCriacaoPedido"
            android:exported="false" />
        <activity
            android:name=".telaServicoAmpliado"
            android:exported="false" />
        <activity
            android:name=".TelaMudancaSucesso"
            android:exported="false" />
        <activity
            android:name=".TelaMudanca"
            android:exported="false" />
        <activity
            android:name=".TelaMenuPrincipal"
            android:exported="false" />
        <activity
            android:name=".TelaMeuPerfil"
            android:exported="false" />
        <activity
            android:name=".TelaMenuPerfil"
            android:exported="false" />
        <activity
            android:name=".TelaEdicaoPerfilAutonomo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TelaEdicaoPerfilContratante"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TelaPesquisa"
            android:exported="false" />
        <activity
            android:name=".TelaCodigoSenha"
            android:exported="false" />
        <activity
            android:name=".TelaRecuperarSenha"
            android:exported="false" />
        <activity
            android:name=".TelaCadastro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CadastrarServico"
            android:exported="false"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FragmentContainerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>